@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Source Sans 3', sans-serif;
    background-color: #f5f5f5;
    max-height: 100vh;
    overflow: hidden;
}

.logo-text {
    font-style: normal;
    /*font-weight: bolder;*/
    font-size: 25px;

    background: linear-gradient(180deg, var(--ov-orange) 0%, var(--ov-magenta) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    text-align: center;
}

.content-screen {
    height: calc(100vh - 100px);
}

.input-box {
    width: 80%;
    background: #FFFFFF;
    border-radius: 5px;
    border: unset;
}

#help-box {
    transition: 0.5s ease-in-out;
    position: absolute;
}

.help-box {
    width: 85%;
    background: #FFFFFF;
    border-radius: 5px;
    border: unset;
    height: 60px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 2;
}

#help-box-arrow {
    background: #FFFFFF;
    border-radius: 5px;
    border: unset;
    height: 30px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(5px);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#help-box-arrow-icon {
    transition: 0.5s ease-in-out;
}

.no-scroll::-webkit-scrollbar {
    display: none;
}

.no-scroll {
    ms-overflow-style: none;
    scrollbar-width: none;
}

nav {
    box-shadow: 0px -1px 2px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 27px 27px;
    background: var(--ov-white);
    z-index: 80;
}

.speech-bubble {
    padding: 10px;
    background: var(--ov-orange);
}

.speech-bubble:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 20%;
    width: 0;
    height: 0;
    border: 15px solid transparent; /* Reduced width */
    border-top-color: var(--ov-orange);
    border-bottom: 0;
    margin-left: -8px;
    margin-bottom: -12px;
}

#message-area {
    display: flex;
    padding: 10px;
    flex-direction: column;
    margin-right: 25px;
    margin-left: 25px;
    gap: 5px;
    max-height: calc(100vh - 200px);
    overflow: scroll;
    align-items: center;
}

.chat-bubble-user {
    padding: 7px;
    color: var(--ov-white);
    text-align: right;
    background: var(--ov-orange);
    border-radius: 10px 10px 0px 10px;
}

.chat-bubble-bot {
    padding: 7px;
    color: var(--ov-white);
    text-align: left;
    background: var(--ov-magenta);
    border-radius: 10px 10px 10px 0px;
}

.d-none {
    display: none;
}

.user-emissions {
    display: flex;
    flex-direction: column;
}

.emissions-circle {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.emissions-line {
    width: 7px;
    height: 50vh;
}

.circle-top {
    transform: translateY(2px);
}
#trip_name, #trip_url{
    display: none;
}
.circle-bottom {
    transform: translateY(-2px);
}

.emissions {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.emissions-user {
    background-color: var(--ov-emissions);
}

.emissions-ov {
    background-color: var(--ov-magenta);
}


.route-partial{
    width: 80vw;
    background-color: var(--ov-magenta);
    position: relative;
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: var(--ov-white);
}

.leg-header{
    position: absolute;
    top: 0;
    left: 0;

    transform: translateY(-22px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    color: var(--ov-magenta)
}
.leg-duration{
    margin-left: 5px;
}
.leg-type{

}
.station{
    font-size: 0.8rem;
    font-weight: lighter;
}

.btn {
    padding: 5px 10px;
    font-size: 1rem;
    border-radius: 5px;
    color: var(--ov-white);
    background-color: var(--ov-magenta);
    transition: 0.1s;
    height: 40px;
    display: flex;
    align-items: center;
    justify-items: center;
}

.btn:hover {
    background-color: rgb(145, 8, 94);
}

.btn-outline {
    padding: 5px 10px;
    font-size: 1rem;
    border-radius: 5px;
    color: var(--ov-magenta);
    outline: var(--ov-magenta) 2px solid;
    background-color: unset;
    transition: 0.1s;
    height: 36px;
    display: flex;
    align-items: center;
    justify-items: center;
}

.btn-outline:hover {
    background-color: rgb(145, 8, 94);
    outline: rgb(145, 8, 94) 2px solid;
    color: var(--ov-white);
}

.btn-outline-stylish {
    padding: 5px 10px;
    font-size: 1rem;
    border-radius: 5px;
    background-color: unset;
    transition: 0.1s;
    height: 36px;
    display: flex;
    align-items: center;
    justify-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.btn-outline-stylish:hover {
    background-color: #b2b2b2;
}

.settings {
    display: flex;
    flex-direction: column;
    background-color: var(--ov-white);
    padding: 15px;
    border-radius: 1rem;
    margin: 15px;
}

.settings-item {
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: 0.1s;
    user-select: none;
}

.settings-item svg {
    padding: 10px;
}

.settings-item p {
    margin-left: 15px;
}

.settings-item:hover {
    background: #efefef;
}

.settings-item:active {
    background: #d2d2d2;
}

.settings-line {
    border-bottom: 2px solid #d2d2d2;
}

.history-button {
    background: #d2d2d2;
    padding: 5px;
    border-radius: 5px;
    max-width: 300px;
}

.history-button:active {
    background: #b6b6b6;
}


.settings-form {
    background-color: var(--ov-white);
    padding: 15px;
    border-radius: 1rem;
    margin: 15px;
}

:root {
    --ov-orange: #f18d1a;
    --ov-magenta: #CB4793;
    --ov-emissions: #495FD6;
    --ov-white: white;
}

.favoriteCard{
    width: 90vw;
    min-height: 80px;
    background-color: #ffffff;
    border: 10px solid #f5f5f5;
    padding: 20px 10px;
    border-radius: 4px;
    z-index: 50;
}
.route{
    border-left: 4px dashed var(--ov-magenta);
    padding-left: 20px;
}
.favoriteText{
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #565656;
}
.legTypeIcon{
    background-color: var(--ov-magenta);
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    transform: translateX(-49.5px);
}
