@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Source Sans 3', sans-serif;
    background-color: #f5f5f5;;
}

.logo-text {
    font-style: normal;
    /*font-weight: bolder;*/
    font-size: 25px;

    background: linear-gradient(180deg, var(--ov-orange) 0%, var(--ov-magenta) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    text-align: center;
}

.content-screen {
    height: calc(100vh - 100px);
}

.input-box {
    width: 80%;
    background: #FFFFFF;
    border-radius: 5px;
    border: unset;
}

#message-area::-webkit-scrollbar {
    display: none;
}

#message-area {
    ms-overflow-style: none;
    scrollbar-width: none;
}

nav {
    box-shadow: 0px -1px 2px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 27px 27px;
    background: white;
}

.speech-bubble {
    padding: 10px;
    background: var(--ov-orange);
}

.speech-bubble:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 20%;
    width: 0;
    height: 0;
    border: 15px solid transparent; /* Reduced width */
    border-top-color: var(--ov-orange);
    border-bottom: 0;
    margin-left: -8px;
    margin-bottom: -12px;
}

#message-area {
    display: flex;
    padding: 10px;
    flex-direction: column;
    margin-right: 25px;
    margin-left: 25px;
    gap: 5px;
    max-height: calc(100vh - 200px);
    overflow: scroll;
    align-items: center;
}

.chat-bubble-user {
    padding: 7px;
    color: white;
    text-align: right;
    background: var(--ov-orange);
    border-radius: 10px 10px 0px 10px;
}

.chat-bubble-bot {
    padding: 7px;
    color: white;
    text-align: left;
    background: var(--ov-magenta);
    border-radius: 10px 10px 10px 0px;
}

.d-none {
    display: none;
}

:root {
    --ov-orange: #f18d1a;
    --ov-magenta: #CB4793;
}
